[submodule "Study Material/educate-resource-for-machine-learning"]
	path = Study Material/educate-resource-for-machine-learning
	url = https://github.com/dvrg/educate-resource-for-machine-learning.git
